
body {
  background: url("https://images.pexels.com/photos/1556796/pexels-photo-1556796.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center fixed;
  background-size: cover;
  color: blanchedalmond;
}

.logo{
  width: 7rem;
}
