  /* Typography */

  @font-face {
    font-family: 'Helvetica Neue Ultra Light';
    src: url('fonts/Helvetica Neue UltraLight.ttf') format('truetype'),
      url('fonts/Helvetica Neue UltraLight.otf') format('opentype');
  }

  @font-face {
    font-family: 'Helvetica Neue Black Condensed';
    src: url('fonts/Helvetica Neue Black Condensed.ttf') format('truetype'),
      url('fonts/Helvetica Neue Black Condensed.otf') format('opentype');
  }

  /* Backgroun general */

  main {
    background-color: #F1F6F9;
  }

  section {
    margin: 5% 15%;
  }

  #social-media{
    margin-bottom: 0;
  }

  /* Para los párrafos */
  p,
  a {
    font-family: 'Helvetica Neue Ultra Light', Arial, sans-serif;
    font-weight: 100;
  }

  /* Para los títulos */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight:bold;
  }

    /* navbar */

    #barra,
    header {
      background-color: #212A3E;
    }
  
    .navbar {
      margin: 0;
      color: white;
    }
  
    .navbar-brand img {
      width: 75px;
      margin: 2%;
    }
  
    .brand img {
      width: 25%;
      margin: 3% 0;
    }

  /* Home */

  #home {
    margin: 0;
  }

  .banner {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    text-align: center;
  }

  /* About */

  .about-us .card{
    max-width: 45%;
    background-color: #394867;
    color: white;
    min-height: 250px;
  }

  @media (max-width: 740px) {
    .about-us .card {
        max-width: 100%;
    }
}

  .card-img {
    height: 100%;
    overflow: hidden;
  }
  
  .card-img img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 250px;
  }

  /* Portfolio */

  .carousel-item {
    display: flex;
    align-items: center;
  }

  .carousel-inner .carousel-item img {
    height: auto;
    margin: 0 auto;
    padding-bottom: 100px;
  }

  .carousel-caption{
    background-color: rgba(155, 164, 181, 0.5); /* #9BA4B5 con 50% de opacidad */
    margin: 0;
    padding: 0;
  }

  /* Modals */ 

  .no-padding img{
    padding: 0;
  }

/* fundadores */

.col-md-4 .img-fluid{
  object-fit: cover;
  object-position: center;
}

  /* Cómo comprar */

  .col-6 img{
    max-width: 50%;
  }

  .blue{
    background-color: #394867;
  }

  .blue h1, .blue p{
    color: white;
  }

  /* redes */

  .image-crop {
    object-fit: cover; /* Ajusta el tamaño de la imagen para que cubra el contenedor */
    object-position: center top; /* Ajusta la posición de la imagen dentro del contenedor */
}

@media (min-width: 992px) {
    .image-crop {
        height: 300px; /* Ajusta la altura de la imagen para pantallas grandes */
    }
}
